<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <title>About</title>
  </head>
  <body>
    <div class="app">
        <h3 class="app-name">Bible</h3>
        <img class="app-logo" src="../assets/images/logo.png" alt="brand logo"/>
        <p class="app-version"></p>
        <p class="app-thanks"></p>
        <p class="app-copyright"></p>
    </div>
   
    <script>
      // You can also require other files to run in this process
      require('../templates/about.js')
    </script>
  </body>
</html>
