<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/donate.css">
    <!-- <title>About</title> -->
  </head>
  <body>
    <div class="app">
      <h1 class="donate-text">Donate</h1>
      <i class="fa fa-gift"></i>
      <div class="contact">Contact: oesukam@gmail.com</div>
      <p class="accounts">
        <strong><i class="fa fa-paypal"></i>Paypal:</strong> olivier.esuka@gmail.com <br>
        <strong><i class="fa fa-bitcoin"></i>Bitcoin:</strong> 1N5j259eB7oaASEfsXWuY4pzCRXy1K8TYe <br>
        <strong><img src="../assets/images/bitcoin-cash.svg" class="img-icon"></img>Bitcoin Cash:</strong> qrj7j4rzp4j9jszsrf9pazlcv9yd4jdtxvfnm479ar <br>
        <strong><img src="../assets/images/ethereum.svg" class="img-icon"></img>Ether:</strong> 0x98f78bD5fA4ecc0B44625c33B4f9e550C9969088
      </p>
    </div>
   
    <script>
      // You can also require other files to run in this process
      require('../templates/donate.js')
    </script>
  </body>
</html>
