<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/settings.css">
    <title>Settings</title>
  </head>
  <body>
    <div class="header">
      <h3 class="header-title">Settings</h3>
    </div>
    <div class="content">
      <input class="tags-input" type="text" placeholder="Tag"/>
      <ul class="tags"></ul>
      <div class="actions">
        <button class="btn-cancel">Cancel</button>
        <div class="separator"></div>
        <button class="btn-save">Save</button>
      </div>
    </div>
   
    <script>
      // You can also require other files to run in this process
      require('../templates/settings.js')
    </script>
    <!-- <script type="module" src="./src/index.js"></script> -->
  </body>
</html>
