<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/update.css">
    <!-- <title>About</title> -->
  </head>
  <body>
      <script>
       
      </script>
    <div class="app">
      <h3 class="app-name">Bible</h3>
      <img class="app-logo" src="../assets/images/logo.png" alt="brand logo"/>
      <p class="app-version"></p>
      <p class="update-text"></p>
      <div class="update-buttons">
        <button class="cancel">No</button>
        <button class="update">Yes</button>
      </div>
    </div>
   
    <script>
      // You can also require other files to run in this process
      require('../templates/update.js')
    </script>
  </body>
</html>
