@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.otf") format("truetype");
}
::-webkit-scrollbar { 
  display: none; 
}
*{
  box-sizing: border-box;  
}
html, body{
  height: 100%;
  width: 100%;
}
body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h3, h4 {
  margin: 0;
}
.fa {
  color: inherit;
}

button {
  outline: none;
  border: none;
}
.checkbox
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 2px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  margin-right: 7px;
  outline: none;
}
.checkbox:checked::before
{
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

.checkbox:checked
{
  background-color: #f1f1f1;
}

#top-bar, #main{
  position: absolute;
}


#title-bar{
  position: absolute;
  z-index: 10;  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 20px;
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
}

#main{
  padding: 25px;
  top: 60px;
  left: 247px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-weight: 200;
  border-right: 1px solid #ebe6ee;    
  border-bottom: 1px solid #ebe6ee;
  position: fixed;
  overflow: scroll; 
}

.verse-title{
  font-size: 25px;
  margin-bottom: 15px;
}

.verses {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
}
.verse {
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 15px;
}
.verse-favorite, .verse-tag {
  position: relative;
  font-size: 18px;
  color: rgba(0,0,0,0.4);
}
.verse-favorite:active {
  color: red;
  box-shadow: 2px 0px rgba(0,0,0,0.4);
}
.verse-favorite:hover {
  color: rgb(209, 209, 0);
}
.verse-favorite.active{
  color: green;
}
.verse-tag {
  visibility: hidden;
}

.verse-favorite.active + .verse-tag {
  visibility: visible;
}

/* Model settings */
.settings-model {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(226, 226, 226);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-model.open {
  visibility: visible;
  animation: openSettings 0.2s ease-out;
  -webkit-animation: openSettings 0.2s ease-out;
}

.settings-model__content {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.close-model {
  position: absolute;
  right: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}
.close-model:before, .close-model:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: #333;
}
.close-model:before {
  transform: rotate(45deg);
}
.close-model:after {
  transform: rotate(-45deg);
}

@keyframes openSettings {
  0% {
    top: 5px;
    opacity: 0.8;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes closeSettings {
  0%, 50% {
    top: 0;
    opacity: 1;
    display: block;
  }

  100% {
    top: 80px;
    opacity: 0.8;
  }
}

.header {
  background-color: rgba(0,0,0,0.2);
  height: 60px;
  text-align: center;
  color: rgba(0,0,0,.5);
  margin-bottom: 20px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

td {
  padding: 30px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-cancel, .btn-save {
  padding: 15px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  flex: 1;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#f1f1f1));
  background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f1f1f1 100%);
  background-image: linear-gradient(to bottom,#fcfcfc 0,#f1f1f1 100%);
  border-color: #c2c0c2 #c2c0c2 #a19fa1;
}
.btn-cancel {
  /* background-color: rgba(0,0,0,.4); */
}
.btn-save {
  background-color: rgba(0,0,0,.4);
}
.separator {
  width: 15px;
}


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: block;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  overflow: hidden;
}

.custom-dropdown select {
  background-color: #ffffff;
  color: #363636;
  font-size: inherit;
  padding: 3px 5px;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  width: 100%;
  height: 100%;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}
.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}
.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}
.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}