#side-bar, #side-chapters {
  position: absolute;
}


#side-bar {
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px 10px 5px 10px;  
  width: 207px;
  display: flex;
  background-color: #6c696d;
  justify-content: center;
  flex-direction: column;
  -webkit-user-select: none;
  user-select:none;
  color: #f3f3f3;
}

#book-name {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

#side-bar__books {
  height: 100%;
  width: 100%;
  left: 0;
  overflow-y: scroll;
  padding-left: 5px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0;
}
#side-bar__books li {
  padding: 10px;
}
#side-chapters {
  top: 0;
  bottom: 0;
  left: 207px;
  width: 40px;
  background-color: #3E3C3F;
  padding-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  -webkit-user-select: none;
  user-select:none;
  overflow: hidden;
}
.side-chapters__title {
  text-orientation: upright;
  -webkit-text-orientation: upright;
  writing-mode: vertical-rl;
  font-size: 20px;
  color: #7b7b7bcc;
  font-weight: 600;
  border-bottom: 2px solid #7b7b7bcc; 
  width: 100%;
  text-transform: uppercase;
  padding: 5px;
}
.side-chapters__list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 0 5px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0;
  color: rgb(133, 133, 133);
}
.chapter.active {
  color: rgb(255, 255, 255);
}
.side-chapters__list::-webkit-scrollbar {
  display: block;
  width: 7px;
  background-color: rgba(0,0,0,.1);
}
.side-chapters__list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.side-chapters__list::-webkit-scrollbar-thumb {
background-color: #7a7a7a;
outline: 1px solid slategrey;
}

#search-books{
  border-radius: 5px;
  border: 1px solid #514f52;
  width: 100%;
  background-color: #b7b7b7;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  color: #3a3939;
}



