.bible-name {
  white-space: nowrap;
  margin-right: 10px;
  font-size: 18px;
  -webkit-user-select: none;
}

.top-bar__left {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#top-bar{
  top: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  left: 248px;
  background-color:#F7F7F7;
  border-bottom: 1px solid #e2dde4;  
  border-right: 1px solid #ebe6ee;    
  border-top: 1px solid #ebe6ee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.search-container {
  border-radius: 5px;
  border: 1px solid #C3C3C3;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  color: #C3C3C3;
  width: 400px;
  max-width: 100%;
}

.search-input {
  flex: 1;
  outline: none;  
  background-color: transparent;
  border: none;
  height: 30px;
  padding: 0px 5px;  
  font-size: 12px;
}

.btn-favorites {
  font-size: 25px;
  color: green;
}

.favorites {
  visibility: hidden;
  position: fixed;
  top: 60px;
  right: 15px;
  padding: 10px;
  bottom: 0;
  background-color: #fff;
  width: 400px;
  z-index: 20;
  border: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
  color: rgba(0,0,0,.7);
  -webkit-user-select: none;
}


.favorites.open {
  visibility: visible;
  animation: openFavorites 0.3s ease-in-out;
  -webkit-animation: openFavorites 0.3s ease-in-out;
}

@keyframes openFavorites {
  0% {
    bottom: 50px;
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

.favorites::-webkit-scrollbar {
  display: block;
  width: 15px;
  background-color: rgba(0,0,0,.1);
}
.favorites::-webkit-scrollbar-trac {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.favorites::-webkit-scrollbar-thumb {
background-color: rgba(0,0,0,.5);
outline: 1px solid slategrey;
}


.favorites-list {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.favorite-block {
  padding: 10px;
  border: 1px solid rgba(0,0,0,.2);
  margin-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.favorite-title {
  font-size: 20px;
}

.favorite-tags {
  margin-top: 10px;
  padding-bottom: 5px;
}

.favorite-tag {
  background-color: rgba(0,0,0,.1);
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 5px;
}
