@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.otf") format("truetype");
}
::-webkit-scrollbar { 
  display: none; 
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  background: rgba(226, 226, 226, 0.9);
}
body{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

.fa {
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.app-name {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.app-logo {
  width: 80px;
  object-fit: contain;
  margin-bottom: 15px;
}

.app-copyright {
  text-align: center;
  margin-top: 10px;
}
.update-text {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
.update-buttons {
  display: flex;
  padding: 0 20px;
  width: 100%;
}

button {
  outline: none;
  padding: 10px;
  margin: 20px;
  flex: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  flex: 1;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(87, 86, 86);
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#f1f1f1));
  background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f1f1f1 100%);
  background-image: linear-gradient(to bottom,#fcfcfc 0,#f1f1f1 100%);
  border-color: #c2c0c2 #c2c0c2 #a19fa1;
}
.cancel {
  /* background-color: rgba(0,0,0,.4); */
}
.update {
  background-color: rgba(0,0,0,.4);
}
