@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.otf") format("truetype");
}
*{
  box-sizing: border-box;  
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#side-bar, #side-chapters, #top-bar, #main{
  position: absolute;
}

#side-bar{
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px 10px 10px 10px;  
  width: 213px;
  display: flex;
  background-color: #6c696d;
  justify-content: center;
  flex-direction: column;
  -webkit-user-select: none;
  user-select:none;
}

#side-bar__books-header{

}

#book-name{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

#side-bar__books{
  height: 100%;
  width: 100%;
  left: 0;
  padding: 16px;  
  overflow-y: scroll;
}
#side-chapters{
  top: 0;
  bottom: 0;
  left: 213px;
  width: 35px;
  background-color: #3E3C3F;
  padding: 100px 10px 10px 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  -webkit-user-select: none;
  user-select:none;
}

#top-bar{
  top: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  left: 248px;
  background-color:#F7F7F7;
  border-bottom: 1px solid #e2dde4;  
  border-right: 1px solid #ebe6ee;    
  border-top: 1px solid #ebe6ee;    
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 5px 10px;
}

#title-bar{
  position: absolute;
  z-index: 10;  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 20px;
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
}

#main{
  padding: 25px;
  top: 60px;
  left: 248px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-weight: 200;
  border-right: 1px solid #ebe6ee;    
  border-bottom: 1px solid #ebe6ee;    
  
}

.verse{
  line-height: 25px;
}

.verse-title{
  font-size: 30px;
}

#search-books{
  border-radius: 5px;
  border: 1px solid #514f52;
  width: 100%;
  background-color: #5b585d;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  color: #3a3939;
}

#search-content{
  border-radius: 5px;
  border: 1px solid #C3C3C3;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  color: #C3C3C3;
  width: 200px;
}

.search-input{
  flex: 1;
  outline: none;  
  background-color: transparent;
  border: none;
  height: 30px;
  padding: 0px 5px;  
  font-size: 12px;
}

